09<table border="1px solid black">
    <thead>
        <tr style="height:40px;">
            <th>ID nhân viên</th>
            <th>Họ và tên</th>
            <th>Phòng ban</th>
            <th>Thời gian</th>
            <th>Ca làm việc</th>
            <th>Muộn / Sớm</th>
            <th style="text-align:center;">Phạt</th>
        </tr>
    </thead>
    <tbody>
                    <tr style="height:40px;">
                <td style="width:80px;vertical-align: middle;font-size: 14px;text-align: center;">
                    <p>14675</p>
                </td>
                <td style="width:200px;vertical-align: middle;font-size: 14px;text-align: center;">
                    <p>test chấm công</p>
                </td>
                <td style="width:300px;vertical-align: middle;font-size: 14px;text-align: center;">
                    <p>nhân sự 2</p>
                </td>
                <td style="width:150px;vertical-align: middle;font-size: 14px;text-align: center;">
                    <p>06/09/2022</p>
                </td>
                <td style="width:250px;vertical-align: middle;font-size: 14px;text-align: center;">
                    <p>3h20-4h00</p>
                </td>
                <td style="width:200px;vertical-align: middle;font-size: 14px;text-align: center;">
                                            <p class="takeleave_status-1">Về sớm 30 phút 45 giây</p>
                                        
                                    </td>
                <td style="width:200px;vertical-align: middle;font-size: 14px;text-align: center;">
                    Không hình thành công                </td>
            </tr>
                    <tr style="height:40px;">
                <td style="width:80px;vertical-align: middle;font-size: 14px;text-align: center;">
                    <p>2690</p>
                </td>
                <td style="width:200px;vertical-align: middle;font-size: 14px;text-align: center;">
                    <p>phạm mạnh hùng</p>
                </td>
                <td style="width:300px;vertical-align: middle;font-size: 14px;text-align: center;">
                    <p>kỹ thuật</p>
                </td>
                <td style="width:150px;vertical-align: middle;font-size: 14px;text-align: center;">
                    <p>17/09/2022</p>
                </td>
                <td style="width:250px;vertical-align: middle;font-size: 14px;text-align: center;">
                    <p>8h-11h00</p>
                </td>
                <td style="width:200px;vertical-align: middle;font-size: 14px;text-align: center;">
                                            <p class="takeleave_status-1">Về sớm 73 phút 42 giây</p>
                                        
                                            <p class="takeleave_status-1">Đi muộn 149 phút 59 giây</p>
                                    </td>
                <td style="width:200px;vertical-align: middle;font-size: 14px;text-align: center;">
                    Không hình thành công                </td>
            </tr>
            </tbody>
</table>
